.game {
  background-color: #201f20 !important;
  height: 800px;
}
.header {
  text-align: center;
  background-color: #4878ab;
  font-family: Arial, Helvetica, sans-serif;
}
h4, h1 {
  margin: 0;
  color: white;
}

h4 {
  font-weight: 100 !important;
}

.bar {
  background-color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

button, .message {
  font-size: small !important;
  font-weight: 700 !important;
  color:#4878ab !important;
  box-shadow: none  !important;
}

button:hover, .chosen-level {
  color: white !important;
  background-color:#4878ab !important;

}

.row {
  justify-content: center;
}
.row div {
  /* background-color: violet; */
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 25px;
}

.hide {
  visibility: hidden !important;
}
